<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-b">
  <a href="/" class="font-semibold text-xl tracking-tight">My Page</a>

  <ul>
      <li class="inline">
        <a href="/work" class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block text-gray-700 hover:text-gray-900">Work</a>
        <a href="/contact" class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block text-gray-700 hover:text-gray-900">Contact</a>
      </li>
  </ul>
</nav>
